@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    background: #fff;
}

/*Navbar*/
.navbar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(243, 187, 131);
    z-index: 1;
}

.navbar-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(243, 187, 131);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition: margin-left 0.5s;
    padding: 16px;
}

.welcome{
    font-style: italic;
}
/*Navbar end*/
/*Header*/
.head {
    min-height: calc(100vh - 60px);
    background: url("img/pozadina.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 32px;

}

.banner-title {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 48px;
}
/*Header end*/


