@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    background: #fff;
}

/*Navbar*/
.navbar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(243, 187, 131);
    z-index: 1;
}

.navbar-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(243, 187, 131);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition: margin-left 0.5s;
    padding: 16px;
}

.welcome{
    font-style: italic;
}
/*Navbar end*/
/*Header*/
.head {
    min-height: calc(100vh - 60px);
    background: url("img/pozadina.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 32px;

}

.banner-title {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 48px;
}
/*Header end*/
/*Product*/
.products {
    padding: 64px 0;
  }
  .section-title h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
  }
  #muskimodeli {
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
  }
  #zenskimodeli h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
  }
  #decijimodeli h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
  }
  
  .products-center {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 32px;
  }
  
  .shop-item {
    margin: 30px;
  }
  
  .shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .shop-item-image {
    height: 250px;
  }
  
  .shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .shop-item-price {
    flex-grow: 1;
    color: #333;
  }
  
  .shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .btn {
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px;
    cursor: pointer;
  }
  
  .btn-header {
    margin: 8px 15% 32px 15%;
    color: white;
    border: 2px solid #2d9cdb;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    font-size: 24px;
    font-weight: lighter;
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .btn-header:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .btn-play {
    display: block;
    margin: 0 auto;
    color: #2d9cdb;
    font-size: 64px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
  }
  
  .btn-primary {
    color: white;
    background-color: rgb(165, 118, 70);
    border: black;
    border-radius: 1px;
    font-weight: italic;
  }
  
  .btn-primary:hover {
    background-color: black;
  }
  
  /*Product end*/
  /*Cart*/

  .content-section {
    margin: 16px;
  }
  
  .container {
    background-color: rgb(87, 87, 87);
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;
  }
  .section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 40px;
  }
  
  .cart-header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
  
    border-bottom: 1px solid black;
  
    margin-right: 24px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 20px;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: 8px;
    font-size: 20px;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #eb5757;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #cc4c4c;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56ccf2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin-right: 25px;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    font-weight: bold;
    color: black;
    font-size: 18px;
  }
  
  .btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 30px;
    background-color: rgb(87, 87, 87);
  }
  
  /* --------------- End of Cart ---------------- */
  

